<!DOCTYPE html>
<html>

<head>

    <title>AI Student OS</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="home-container">

        <h1>Welcome to AI Student OS 🚀</h1>

        <p>
            🌻Your personal productivity and study management system🌻
        </p>

        <div class="dashboard-stats">

            <div class="dashboard-card">

                <h2>Total Tasks</h2>

                <p>{{ total_tasks }}</p>

            </div>

            <div class="dashboard-card">

                <h2>Completed</h2>

                <p>{{ completed_tasks }}</p>

            </div>

            <div class="dashboard-card">

                <h2>Remaining</h2>

                <p>{{ remaining_tasks }}</p>

            </div>

        </div>

        <div class="category-stats">

            <h3>Category Overview</h3>

            <p>💻 DSA: {{ dsa_count }}</p>

            <p>🌐 Web Dev: {{ web_count }}</p>

            <p>📚 College: {{ college_count }}</p>

            <p>🌱 Personal: {{ personal_count }}</p>

        </div>

        <a href="/tasks" class="task-btn">

            Open Task Manager

        </a>

    </div>

</body>

</html>