<!DOCTYPE html>
<html>

<head>

    <title>AI Student OS</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/home_v2.css') }}">
</head>

<body>

    <div class="home-container">

        <!--sidebar-->

        <aside class="side-bar">

            <div class="branding">
                <h1>🤖 AI Student OS</h1>
                <p>Study Smarter Everyday!</p>
            </div>

            <nav class="navigation">

                <div class="nav-item">
                    <span class ="icon">🏠</span>
                    <span class ="label">Dashboard</span>
                </div>

                <div class="nav-item">
                    <span class ="icon">📋</span>
                    <span class ="label">Task Manager</span>
                </div>

                <div class="nav-item">
                    <span class ="icon">📝</span>
                    <span class ="label">Notes</span>
                </div>

                <div class="nav-item">
                    <span class ="icon">🍓</span>
                    <span class ="label">Pomodoro</span>
                </div>

                <div class="nav-item">
                    <span class ="icon">🗓️</span>
                    <span class ="label">Calender</span>
                </div>

                <div class="nav-item">
                    <span class ="icon">📘</span>
                    <span class ="label">Study Tracker</span>
                </div>

                <div class="nav-item">
                    <span class ="icon">⚙️</span>
                    <span class ="label">Setting</span>
                </div>

           </nav>

        </aside>

        <!-- Main-content -->
         <main class="main-content">

            <header class="header">

                <div class="greeting">

                    <h2> 🌻Good Morning Aradhya !> </h2>
                    <p>Lets's make today Productive and Amazing </p>

                </div>

            </header>

            <section class="dashboard-grid">

            </section>

            <section class="quick-actions">

            </section>

         </main>

    </div>

</body>

</html>